.btn {
    background-color: #1b6d85;
    margin-bottom: 10px;
    color: white;
    border:0px;
   
}
.btn:hover{

     background-color: #1b6d85;
    margin-bottom: 10px;
    color: white;
    border:0px;
    box-shadow: 0 3px 14px rgb(8, 8, 8);
}



body{color: white;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}
hr {
    height: 2px;
    background-color:#3E2765;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 75%;
    border-top:0px; 
}